.eduWorInfo {
  padding-bottom: 20px;
}

.eduWorInfo > h2 {
  font-weight: 700;
  font-size: 26px;
  color: #050d18;
}

.eduWorInfo__detail > h3 {
  font-weight: 600;
  font-size: 18px;
  color: #050d18;
}

.eduWorInfo__detail > h4 {
  font-weight: 600;
  font-size: 16px;
  color: #272829;
  background-color: rgb(228, 237, 249);
  width: fit-content;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.eduWorInfo__detail > p,
.eduWorInfo__detail > h5 {
  font-weight: 400;
  font-size: 16px;
  color: #77808a;
}
.eduWorInfo__detail > h5 {
  font-style: italic;
  margin-bottom: 15px;
}

.act {
  margin-top: 50px;
  margin-bottom: 10px;
}

.styleThisPart {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.vl {
  border-left: 2px solid #149ddd;
  height: auto;
  margin-right: 10px;
}

.eduWorInfo__detail > h3 {
  font-size: 18px;
  margin-top: -4px;
  padding-bottom: 10px;
  font-weight: 600;
  color: #050d18;
}
