#contact {
  position: relative;
  left: 340px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 320px;
  padding: 60px;
  background-color: white;
  margin-left: -10px;
  margin-bottom: 20px;
}

.contact__title {
  margin-bottom: 40px;
}
.contact__title > h2 {
  font-size: 32px;
  color: #173b6c;
  font-weight: 700;
}

.contact__title > p {
  font-size: 16px;
  font-weight: 400;
  color: #272829;
  margin-right: 10px;
}

.contact__title > hr {
  width: 50px;
  background-color: rgb(20, 157, 221);
  border: none;
  height: 3px !important;
  margin: 20px 0 20px 0;
}
#contact__detail {
  width: 40vw;
  margin: 0 auto;
}

.btn-primary {
  background-color: black !important;
  width: inherit;
  border-color: black !important;
  outline: none;
}
.btn {
  border-radius: 50px !important;
}
@media (max-width: 1199px) {
  #contact {
    padding-left: 220px;
    margin-right: 265px;
    margin-left: -400px;
    margin-bottom: 20px;
  }
  p {
    margin-right: 20px;
  }
}
