#contact {
  position: relative;
  left: 340px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 320px;
  padding: 50px;
  background-color: white;
  margin-left: -10px;
  margin-bottom: 20px;
}

.contact__title {
  margin-bottom: 40px;
}
.contact__title > h2 {
  font-size: 32px;
  color: #173b6c;
  font-weight: 700;
}

.contact__title > p {
  font-size: 16px;
  font-weight: 400;
  color: #272829;
  margin-right: 10px;
}

.contact__title > hr {
  width: 50px;
  background-color: rgb(20, 157, 221);
  border: none;
  height: 3px !important;
  margin: 20px 0 20px 0;
}
/* .button:hover {
  background-color: #173b6c;
} */
.btn:hover,
.btn-primary:hover {
  background-color: #173b6c !important;
  outline: none;
}
#contact__detail {
  width: 40vw;
  margin: 0 auto;
}

.btn-primary {
  background-color: black !important;
  width: 100%;
  border-color: black !important;
  outline: none;
}
.btn {
  border-radius: 50px !important;
}
@media (max-width: 1199px) {
  #contact {
    padding-left: 220px;
    margin-right: 295px;
    margin-left: -400px;
    margin-bottom: 20px;
  }
  p {
    margin-right: 20px;
  }
}

.contact__hireMe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hireButton {
  background-color: gray;
  box-shadow: 0 2px 0 darkgray;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  border-radius: 28px;
  cursor: pointer;
  font-size: 17px;
  padding: 16px 31px;
}

.hireButton:hover {
  background-color: gray;
  color: whitesmoke;
}

.hireButton:active {
  box-shadow: none;
  top: 5px;
}
