footer {
    position: fixed !important;
    bottom: 0 !important;
    width: 100%;
}
footer > .copyrights{
    position: relative;
    color: #000;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
}
