.projects {
  position: relative;
  left: 340px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 300px;
  padding: 60px;
  background-color: whitesmoke;
  margin-left: -10px;
  margin-bottom: 20px;
}
.projects__title > h2 {
  font-size: 32px;
  color: #173b6c;
  font-weight: 700;
}
.projects__title > p {
  font-size: 16px;
  font-weight: 400;
  color: #272829;
  margin-right: 20px;
}
.projects__title > hr {
  width: 50px;
  background-color: rgb(20, 157, 221) !important;
  border: none;
  height: 3px !important;
  margin: 20px 0 20px 0;
}

.projects__detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
}

@media (max-width: 1199px) {
  .projects {
    padding-left: 220px;
    margin-right: 265px;
    margin-left: -400px;
    margin-bottom: 20px;
  }
}

.projects__detail {
  margin: 0;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.project {
  height: 200px;
  color: black;
  position: relative;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
