@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Raleway:wght@700&display=swap");
#profile {
  width: 100vw;
  height: 100vh;
  background: url("bg.JPG") top center;
  background-size: cover;
  color: white !important;
}

#profile:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.profile__container {
  position: relative;
  z-index: 2;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  padding: 300px 0;
  vertical-align: middle;
  line-height: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#profile h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: white !important;
  font-family: "Raleway", sans-serif;
}

#profile p {
  padding-bottom: 90px;
  font-size: 26px;
  font-weight: 400;
  font-family: sans-serif;
  font-family: "Poppins", sans-serif;
}

#profile p span {
  /* padding-bottom: 4px;
  letter-spacing: 1px; */
  border-bottom: 2px solid #149ddd;
  margin-left: 2px;
}

.Typewriter {
  display: inline-block;
}

.profile__container h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #a8a8a8;
  margin-top: -80px;
  font-family: "Poppins", sans-serif;
}

.profile__container h3 span {
  color: #ffffff;
}
/* @media (min-width: 1024px) {
  #profile {
    background-attachment: fixed;
  }
} */

@media (max-width: 768px) {
  #profile h1 {
    font-size: 28px;
    line-height: 36px;
  }
}
