.personalInfo {
  padding-bottom: 20px;
}
.personalInfo > h2 {
  font-size: 26px;
  font-weight: 700;
  color: #050d18;
}

.personalInfo__detail > h3 {
  font-size: 18px;
  margin-top: -4px;
  padding-bottom: 10px;
  font-weight: 600;
  color: #050d18;
}

.personalInfo__detail > p {
  font-size: 16px;
  font-weight: 400;
  color: #272829;
}
.styleThisBlock {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.vl {
  border-left: 2px solid #149ddd;
  height: auto;
  margin-right: 10px;
}
