#resume {
  position: relative;
  left: 340px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 320px;
  padding: 60px;
  background-color: white;
  margin-left: -10px;
  margin-bottom: 20px;
}
.resume__title {
  margin-bottom: 50px;
}
.resume__title > h2 {
  font-size: 32px;
  color: #173b6c;
  font-weight: 700;
}
.resume__title > p {
  font-size: 16px;
  font-weight: 400;
  color: #272829;
  margin-right: 20px;
}
.resume__title > hr {
  width: 50px;
  background-color: rgb(20, 157, 221);
  border: none;
  height: 3px !important;
  margin: 20px 0 20px 0;
}

.resume__detail {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70vw;
}

.resume__detailLeft,
.resume__detailRight {
  flex: 0.5;
}
.resume__detailLeft {
  margin-right: 5px;
}
@media (max-width: 990px) {
  .resume__detail {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1199px) {
  #resume {
    padding-left: 220px;
    margin-right: 265px;
    margin-left: -400px;
    margin-bottom: 20px;
  }
}
