@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap");

.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 100vh;
  transition: all ease-in-out 0.5s;
  z-index: 9999;
  transition: all 0.5s;
  padding: 0 15px;
  background: rgb(4, 11, 20);
  overflow-y: auto;
  color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}

.button {
  border-radius: 4px;
  background-color: rgb(5, 19, 29);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: auto;
  margin-right: 0;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00AB";
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.05s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.header__profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
}

.header__profile > .MuiAvatar-root {
  display: block;
  margin: 15px auto;
  border: 7px solid rgb(44, 47, 68);
  color: whitesmoke;
  height: 135px;
  width: 135px;
  margin-top: 30px;
}

.header__profile a,
.header__profile h1 {
  font-size: 24px;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
  padding-top: 5px;
}
.header__profile a:hover {
  color: white;
}
/* MuiButtonBase-root MuiIconButton-root */
.header__icons > .MuiButtonBase-root {
  color: whitesmoke;
  font-size: 18px;
  display: inline-block;
  background: #212431;
  line-height: 1;
  /* padding: 1px; */
  padding-top: 1px;
  margin-right: 6px;
  border-radius: 50%;
  text-align: center;
  width: 35px;
  height: 35px;
  transition: 0.5s;
  margin-top: 15px;
}

.header__icons > .MuiButtonBase-root:hover {
  background-color: #149ddd;
  color: white;
}

.header__options {
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
  margin-left: 40px;
  color: white;
  font-size: 15px;
  font-weight: 400;
}
.header__footer {
  position: fixed;
  bottom: 0;
  color: whitesmoke;
  padding-bottom: 10px;
  margin-left: 50px;
}
@media (max-width: 1199px) {
  .header {
    left: -400px;
    transition: all ease-in-out 0.5s;
  }
}

p {
  text-decoration: none;
}
