.containerStyles {
  height: 15px;
  width: 100%;
  background-color: rgb(220, 232, 248);
  border-radius: 50px;
  margin-bottom: 20px;
}

.fillerStyles {
  height: 100%;
  border-radius: inherit;
  text-align: right;
}
