.skills {
  position: relative;
  left: 340px;
  color: black;
  display: flex;
  flex-direction: column;
  margin-right: 300px;
  padding: 60px;
  background-color: whitesmoke;
  margin-left: -40px;
  margin-bottom: 20px;
  padding-left: -50px;
}

.skills__title {
  margin: auto;
  width: 98%;
  padding: 10px;
  margin-left: 40px;
}
.skills__title > h2 {
  font-size: 32px;
  color: #173b6c;
  font-weight: 700;
}
.skills__title > p {
  font-size: 16px;
  font-weight: 400;
  color: #272829;
  margin-right: 10px;
}

.skills__title > hr {
  width: 50px;
  background-color: rgb(20, 157, 221);
  border: none;
  height: 3px !important;
  margin: 20px 0 20px 0;
}

.skills__detail {
  margin: auto;
  width: 90%;
  padding: 10px;
}

.skills__detailInfo {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}
.skillsInfo {
  flex: 0.5;
  margin-right: 15px;
}

@media (max-width: 1199px) {
  .skills {
    padding-left: 220px;
    margin-right: 365px;
    margin-left: -400px;
    margin-bottom: 20px;
  }
}

@media (max-width: 990px) {
  .skills__detailInfo {
    display: flex;
    flex-direction: column;
  }
}
