@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&family=Raleway:wght@700&display=swap");

* {
  margin: 0;
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, gray);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, gray);
}

.titleFont {
  font-family: "Raleway", sans-serif;
}

.pFont {
  font-family: "Open Sans", sans-serif;
}

.bFont {
  font-family: "Poppins", sans-serif;
}
